@media only screen and (min-width: 768px) {
  #drawerCart .MuiDrawer-content {
    width: 486px;
  }
}

@media only screen and (max-width: 767px) {
  #drawerCart .MuiDrawer-content {
    width: 90%;
  }
}

#drawerCart .MuiDrawer-content {
  background-color: #0f52ba;
  color: #ffffff;
}

#drawerCart button.MuiModalClose-root {
  background-color: #000000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
#drawerCart button.MuiModalClose-root:hover {
  background-color: #ffffff;
  color: #000000;
   
}

#drawerCart button.MuiModalClose-root svg:hover{
   
  color: #000;
}

#drawerCart button.MuiModalClose-root svg {
  color: #ffffff;
  font-size: 40px;
}
#drawerCart button.MuiModalClose-root svg:hover {
  margin: 2px;
}
